<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="icon" href="data:;base64,=">
  <style>
    html,
    body {
      font-size: 16px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      min-width: 600px;
    }

    * {
      box-sizing: border-box;
    }

    .footer {
      display: block;
      text-align: center;
    }

    .footer,
    .footer>a {
      font-size: 1rem;
      line-height: 2rem;
    }

    .container {
      width: 580px;
      flex: 1 0 auto;
      border: 2px solid #31A67B;
      background-color: #f8f8f8;
      border-radius: 16px;
      padding: 40px;
      margin: 30px auto;
      box-shadow: 4px 4px 4px #eee;
    }

    .container a {
      font-size: 1rem;
      transition: 0.2s all;
    }

    .container a:link,
    .container a:visited {
      text-decoration: none;
      color: #000;
    }

    .container a:hover,
    .container a:active {
      text-decoration: none;
      color: #31A67B;
    }

    .box {
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .box a {
      display: block;
      width: 470px;
      margin-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      color: #31A67B;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: #31A67B;
    }

    a:hover,
    a:active {
      text-decoration: underline;
      color: #31A67B;
    }
  </style>
</head>

<body>
  <div class="container">
    <% files.forEach(function(item){ %>
      <div class="box">
        <%- item.icon %>
        <a href="<%- item.path %>"><%- item.file %></a>
      </div>
    <% }); %>
  </div>
  <div class="footer">
    <div>© Copyright 2018 - <span id="copyright_end_time">____</span> by <a target="_blank"
        href="https://www.npmjs.com/package/wherever">wherever</a></div>
  </div>
  <script>
    const year = new Date().getFullYear();
    document.getElementById('copyright_end_time').textContent = year;
  </script>
</body>

</html>